.Card {
  background-color: transparent;
  border: 1px solid #70737b;
  border-radius: 15px;
}

.Card:hover {
  cursor: pointer;
}

#dark div.site-layout-background {
  background-color: #16161a;
  padding: 24px;
  min-height: 1024px;
}

#dark main.ant-layout-content {
  /* background-color: #16161A; */
  max-width: 960px;
  min-width: 960px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#light div.site-layout-background {
  background-color: #fafafb;
  padding: 24px;
  min-height: 1024px;
}

#light main.ant-layout-content {
  /* background-color: #fff; */
  max-width: 960px;
  min-width: 960px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#dark .ant-btn.ant-btn-primary.btnTrade{
  display: none;
}

#light .ant-btn.ant-btn-primary.btnTrade{
  display: none;
}

#dark .ant-card.Card:hover .ant-btn.ant-btn-primary.btnTrade{
  display: inline-block;
}

#light .ant-card.Card:hover .ant-btn.ant-btn-primary.btnTrade{
  display: inline-block;
}


@media screen and (width < 920px) {
  #light main.ant-layout-content {
    min-width: auto;
  }
  #dark main.ant-layout-content {
    min-width: auto;
  }
}
