.pageHeader{
    /* margin: 0 200px 12px 200px; */
    max-width: 960px;
    min-width: 960px;
    margin: auto;
    /* align-items: center;
    justify-content: center; */
    background: #16161a;
    border-bottom: 2px solid #29292c;
}

.searchInput{
    background: #29292c;
    border-radius: 8px;
    border: 2px solid #29292c;
    width: 465px;
    color: #fff;
}

.searchInput:hover{
    background: transparent;
    border: 2px solid #29292c;
    color: #fff;
}

.searchInput:focus{
    background: transparent;
    border: 2px solid #29292c;
    color: #fff;
}

.headerButton {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.headerButton:hover{
    background-color: #29292c;
    color: #fff;
}

.headerButton:focus{
    background-color: #29292c;
    color: #fff;
}
