@import '~antd/dist/antd.css';

*{
  font-family: Graphik, sans-serif;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.profile{
      background: #001529;
      color: white;
  height: fit-content;
  width: 240px;
  text-align: center;
  margin: 24px 0;
  /* text-align: center; */
  /* justify-content: center; */
  /* display: flex; */
   flex-direction: column;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}